node-red-flows/farmassist-simulation.json
[
  {
    "id": "tab-dashboard",
    "type": "tab",
    "label": "🎛️ Dashboard Control",
    "disabled": false,
    "info": "Main control panel for all simulations"
  },
  {
    "id": "tab-horizontal",
    "type": "tab",
    "label": "🌾 Horizontal Farms",
    "disabled": false,
    "info": "Horizontal farming simulation (Cacao, Cassava, Groundnut)"
  },
  {
    "id": "tab-vertical",
    "type": "tab",
    "label": "🌿 Vertical NFT",
    "disabled": false,
    "info": "Vertical NFT hydroponic simulation"
  },
  {
    "id": "tab-anomalies",
    "type": "tab",
    "label": "⚠️ Anomalies",
    "disabled": false,
    "info": "Inject sensor anomalies to test alerts"
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-farmassist",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "init-context",
    "type": "inject",
    "z": "tab-dashboard",
    "name": "Initialize",
    "props": [{"p": "payload"}],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 60,
    "wires": [["set-context"]]
  },
  {
    "id": "set-context",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Set Global Context",
    "func": "// User and farm configuration\nglobal.set('user_id', 'usr_demo_001');\nglobal.set('jwt', 'demo-jwt-token');\n\n// Farm configurations\nglobal.set('farm_bafang', {\n  farm_id: 'farm_bafang_001',\n  plot_id: 'plot_b_001',\n  device_type: 'horizontal',\n  crop: 'cacao',\n  zone: 'A1',\n  device_id: 'SIM_BAFANG_NODE_001'\n});\n\nglobal.set('farm_bertoua', {\n  farm_id: 'farm_bertoua_002',\n  plot_id: 'plot_r_001',\n  device_type: 'horizontal',\n  crop: 'cassava',\n  zone: 'B1',\n  device_id: 'SIM_BERTOUA_NODE_002'\n});\n\nglobal.set('farm_maroua', {\n  farm_id: 'farm_maroua_003',\n  plot_id: 'plot_m_001',\n  device_type: 'horizontal',\n  crop: 'groundnut',\n  zone: 'C1',\n  device_id: 'SIM_MAROUA_NODE_003'\n});\n\nglobal.set('farm_vertical', {\n  farm_id: 'farm_vertical_004',\n  plot_id: 'plot_v_001',\n  device_type: 'vertical',\n  crop: 'lettuce',\n  zone: 'tier_1',\n  device_id: 'SIM_VERTICAL_NODE_004'\n});\n\n// Simulation state\nglobal.set('sim_running', false);\nglobal.set('sim_speed', 1);\n\nnode.status({fill:'green', shape:'dot', text:'Initialized'});\n\nmsg.payload = {\n  status: 'initialized',\n  farms: ['bafang', 'bertoua', 'maroua', 'vertical'],\n  timestamp: Date.now()\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 60,
    "wires": [["debug-init"]]
  },
  {
    "id": "debug-init",
    "type": "debug",
    "z": "tab-dashboard",
    "name": "Init Status",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 60,
    "wires": []
  },
  {
    "id": "btn-start-all",
    "type": "inject",
    "z": "tab-dashboard",
    "name": "▶ START ALL",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "control",
    "payload": "{\"action\":\"start\"}",
    "payloadType": "json",
    "color": "#4CAF50",
    "x": 130,
    "y": 140,
    "wires": [["control-handler"]]
  },
  {
    "id": "btn-stop-all",
    "type": "inject",
    "z": "tab-dashboard",
    "name": "⏹ STOP ALL",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "control",
    "payload": "{\"action\":\"stop\"}",
    "payloadType": "json",
    "color": "#F44336",
    "x": 130,
    "y": 200,
    "wires": [["control-handler"]]
  },
  {
    "id": "control-handler",
    "type": "function",
    "z": "tab-dashboard",
    "name": "Control Handler",
    "func": "const action = msg.payload.action;\nconst userId = global.get('user_id');\n\nif (action === 'start') {\n    global.set('sim_running', true);\n    node.status({fill:'green', shape:'dot', text:'RUNNING'});\n} else {\n    global.set('sim_running', false);\n    node.status({fill:'red', shape:'ring', text:'STOPPED'});\n}\n\n// Publish control event\nmsg.topic = 'farmassist/control/events';\nmsg.payload = {\n  event: 'simulation_control',\n  action: action,\n  user_id: userId,\n  timestamp: Date.now(),\n  running: global.get('sim_running')\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "global.set('sim_running', false);",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 170,
    "wires": [["mqtt-control-out"]]
  },
  {
    "id": "mqtt-control-out",
    "type": "mqtt out",
    "z": "tab-dashboard",
    "name": "MQTT Control",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 590,
    "y": 170,
    "wires": []
  },
  {
    "id": "tick-bafang",
    "type": "inject",
    "z": "tab-horizontal",
    "name": "Tick Bafang (60s)",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "2",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 80,
    "wires": [["sim-bafang"]]
  },
  {
    "id": "sim-bafang",
    "type": "function",
    "z": "tab-horizontal",
    "name": "Bafang Simulator",
    "func": "if (!global.get('sim_running')) {\n    node.status({fill:'grey', shape:'ring', text:'Stopped'});\n    return null;\n}\n\nconst userId = global.get('user_id');\nconst farm = global.get('farm_bafang');\nconst hour = new Date().getHours();\n\n// Temperature with diurnal cycle\nconst temp_air = +(27.5 + 6.0 * Math.sin((hour - 5) * Math.PI / 12) + (Math.random() - 0.5) * 1.2).toFixed(2);\nconst humidity = +(Math.max(30, Math.min(98, 78 - (temp_air - 27.5) * 2.5 + (Math.random() - 0.5) * 4))).toFixed(2);\n\n// Moisture decreases over time, resets occasionally\nlet moi = context.get('moi') || 70;\nmoi -= 0.08;\nif (Math.random() < 0.002) moi = 85;  // Rain event\nmoi = +Math.max(10, Math.min(95, moi)).toFixed(2);\ncontext.set('moi', moi);\n\n// pH drifts slowly\nlet ph = context.get('ph') || 6.2;\nph += (Math.random() - 0.5) * 0.02;\nph = +Math.max(4.5, Math.min(8.5, ph)).toFixed(2);\ncontext.set('ph', ph);\n\n// Salinity increases slowly\nlet sal = context.get('sal') || 1.0;\nsal += 0.005;\nif (Math.random() < 0.001) sal = 0.8;\nsal = +Math.max(0.1, Math.min(5.0, sal)).toFixed(2);\ncontext.set('sal', sal);\n\n// Light based on time of day\nconst light_lux = +(Math.max(0, 65000 * Math.sin((hour - 6) * Math.PI / 12) + (Math.random() - 0.5) * 4000)).toFixed(0);\nconst solar_mw = light_lux > 1000 ? +(light_lux * 0.018).toFixed(0) : 0;\n\n// Battery charges during day, drains at night\nlet batt = context.get('batt') || 95;\nbatt = solar_mw > 0 ? Math.min(100, batt + 0.008) : Math.max(20, batt - 0.015);\nbatt = +batt.toFixed(1);\ncontext.set('batt', batt);\n\nconst seq = (context.get('seq') || 0) + 1;\ncontext.set('seq', seq);\n\nmsg.topic = `farmassist/${userId}/${farm.farm_id}/${farm.device_id}/telemetry`;\nmsg.payload = {\n  schema_ver: '2.0.0',\n  user_id: userId,\n  farm_id: farm.farm_id,\n  plot_id: farm.plot_id,\n  device_id: farm.device_id,\n  device_type: farm.device_type,\n  zone: farm.zone,\n  timestamp: Date.now(),\n  seq: seq,\n  source: 'simulation',\n  sensors: {\n    temp_air: temp_air,\n    humidity: humidity,\n    light_lux: light_lux,\n    co2_ppm: null,\n    temp_soil: +(temp_air - 4.5 + (Math.random() - 0.5) * 0.8).toFixed(2),\n    moisture_1: moi,\n    moisture_2: +(moi - 3 + (Math.random() - 0.5) * 2).toFixed(2),\n    soil_ph: ph,\n    salinity: sal,\n    flow_lph: null,\n    water_temp: null,\n    ec_solution: null,\n    ph_solution: null,\n    do_mgl: null,\n    water_level_pct: null,\n    tier: null\n  },\n  actuators: {\n    irrigation: false,\n    pump: false,\n    ventilation: false,\n    grow_light: false\n  },\n  meta: {\n    firmware_ver: 'sim-2.0.0',\n    battery_pct: batt,\n    solar_mw: solar_mw,\n    wifi_rssi: -52 - Math.floor(Math.random() * 8),\n    uptime_sec: seq * 60,\n    free_heap: 145000 + Math.floor(Math.random() * 10000)\n  }\n};\n\nnode.status({fill:'green', shape:'dot', text: `T:${temp_air}C H:${humidity}%`});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "context.set('seq', 0);\ncontext.set('moi', 70);\ncontext.set('ph', 6.2);\ncontext.set('sal', 1.0);\ncontext.set('batt', 95);",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 80,
    "wires": [["mqtt-bafang-out", "debug-bafang"]]
  },
  {
    "id": "mqtt-bafang-out",
    "type": "mqtt out",
    "z": "tab-horizontal",
    "name": "MQTT Bafang",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 580,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug-bafang",
    "type": "debug",
    "z": "tab-horizontal",
    "name": "Bafang Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.sensors",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 570,
    "y": 140,
    "wires": []
  },
  {
    "id": "tick-bertoua",
    "type": "inject",
    "z": "tab-horizontal",
    "name": "Tick Bertoua (60s)",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "22",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 200,
    "wires": [["sim-bertoua"]]
  },
  {
    "id": "sim-bertoua",
    "type": "function",
    "z": "tab-horizontal",
    "name": "Bertoua Simulator",
    "func": "if (!global.get('sim_running')) {\n    node.status({fill:'grey', shape:'ring', text:'Stopped'});\n    return null;\n}\n\nconst userId = global.get('user_id');\nconst farm = global.get('farm_bertoua');\nconst hour = new Date().getHours();\n\nconst temp_air = +(30.0 + 7.0 * Math.sin((hour - 5) * Math.PI / 12) + (Math.random() - 0.5) * 1.4).toFixed(2);\nconst humidity = +(Math.max(25, Math.min(95, 65 - (temp_air - 30) * 2.2 + (Math.random() - 0.5) * 5))).toFixed(2);\n\nlet moi = context.get('moi') || 65;\nmoi -= 0.10;\nif (Math.random() < 0.0015) moi = 80;\nmoi = +Math.max(10, Math.min(95, moi)).toFixed(2);\ncontext.set('moi', moi);\n\nlet ph = context.get('ph') || 6.5;\nph += (Math.random() - 0.5) * 0.025;\nph = +Math.max(4.8, Math.min(8.0, ph)).toFixed(2);\ncontext.set('ph', ph);\n\nlet sal = context.get('sal') || 0.9;\nsal += 0.004;\nif (Math.random() < 0.0012) sal = 0.7;\nsal = +Math.max(0.1, Math.min(4.5, sal)).toFixed(2);\ncontext.set('sal', sal);\n\nconst light_lux = +(Math.max(0, 72000 * Math.sin((hour - 6) * Math.PI / 12) + (Math.random() - 0.5) * 5000)).toFixed(0);\nconst solar_mw = light_lux > 1000 ? +(light_lux * 0.020).toFixed(0) : 0;\n\nlet batt = context.get('batt') || 97;\nbatt = solar_mw > 0 ? Math.min(100, batt + 0.010) : Math.max(20, batt - 0.020);\nbatt = +batt.toFixed(1);\ncontext.set('batt', batt);\n\nconst seq = (context.get('seq') || 0) + 1;\ncontext.set('seq', seq);\n\nmsg.topic = `farmassist/${userId}/${farm.farm_id}/${farm.device_id}/telemetry`;\nmsg.payload = {\n  schema_ver: '2.0.0',\n  user_id: userId,\n  farm_id: farm.farm_id,\n  plot_id: farm.plot_id,\n  device_id: farm.device_id,\n  device_type: farm.device_type,\n  zone: farm.zone,\n  timestamp: Date.now(),\n  seq: seq,\n  source: 'simulation',\n  sensors: {\n    temp_air: temp_air,\n    humidity: humidity,\n    light_lux: light_lux,\n    co2_ppm: null,\n    temp_soil: +(temp_air - 5.2 + (Math.random() - 0.5) * 0.9).toFixed(2),\n    moisture_1: moi,\n    moisture_2: +(moi - 4 + (Math.random() - 0.5) * 2).toFixed(2),\n    soil_ph: ph,\n    salinity: sal,\n    flow_lph: null,\n    water_temp: null,\n    ec_solution: null,\n    ph_solution: null,\n    do_mgl: null,\n    water_level_pct: null,\n    tier: null\n  },\n  actuators: {\n    irrigation: false,\n    pump: false,\n    ventilation: false,\n    grow_light: false\n  },\n  meta: {\n    firmware_ver: 'sim-2.0.0',\n    battery_pct: batt,\n    solar_mw: solar_mw,\n    wifi_rssi: -48 - Math.floor(Math.random() * 10),\n    uptime_sec: seq * 60,\n    free_heap: 142000 + Math.floor(Math.random() * 12000)\n  }\n};\n\nnode.status({fill:'green', shape:'dot', text: `T:${temp_air}C H:${humidity}%`});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "context.set('seq', 0);\ncontext.set('moi', 65);\ncontext.set('ph', 6.5);\ncontext.set('sal', 0.9);\ncontext.set('batt', 97);",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 200,
    "wires": [["mqtt-bertoua-out"]]
  },
  {
    "id": "mqtt-bertoua-out",
    "type": "mqtt out",
    "z": "tab-horizontal",
    "name": "MQTT Bertoua",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 590,
    "y": 200,
    "wires": []
  },
  {
    "id": "tick-maroua",
    "type": "inject",
    "z": "tab-horizontal",
    "name": "Tick Maroua (60s)",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "42",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 320,
    "wires": [["sim-maroua"]]
  },
  {
    "id": "sim-maroua",
    "type": "function",
    "z": "tab-horizontal",
    "name": "Maroua Simulator",
    "func": "if (!global.get('sim_running')) {\n    node.status({fill:'grey', shape:'ring', text:'Stopped'});\n    return null;\n}\n\nconst userId = global.get('user_id');\nconst farm = global.get('farm_maroua');\nconst hour = new Date().getHours();\n\nconst temp_air = +(35.0 + 9.0 * Math.sin((hour - 5) * Math.PI / 12) + (Math.random() - 0.5) * 2.0).toFixed(2);\nconst humidity = +(Math.max(12, Math.min(80, 42 - (temp_air - 35) * 1.8 + (Math.random() - 0.5) * 6))).toFixed(2);\n\nlet moi = context.get('moi') || 52;\nmoi -= 0.15;\nif (Math.random() < 0.0006) moi = 72;\nmoi = +Math.max(8, Math.min(90, moi)).toFixed(2);\ncontext.set('moi', moi);\n\nlet ph = context.get('ph') || 6.8;\nph += (Math.random() - 0.5) * 0.015;\nph = +Math.max(5.5, Math.min(8.0, ph)).toFixed(2);\ncontext.set('ph', ph);\n\nlet sal = context.get('sal') || 1.2;\nsal += 0.007;\nif (Math.random() < 0.0005) sal = 0.9;\nsal = +Math.max(0.2, Math.min(5.5, sal)).toFixed(2);\ncontext.set('sal', sal);\n\nconst light_lux = +(Math.max(0, 85000 * Math.sin((hour - 6) * Math.PI / 12) + (Math.random() - 0.5) * 6000)).toFixed(0);\nconst solar_mw = light_lux > 1000 ? +(light_lux * 0.022).toFixed(0) : 0;\n\nlet batt = context.get('batt') || 94;\nbatt = solar_mw > 0 ? Math.min(100, batt + 0.012) : Math.max(20, batt - 0.025);\nbatt = +batt.toFixed(1);\ncontext.set('batt', batt);\n\nconst seq = (context.get('seq') || 0) + 1;\ncontext.set('seq', seq);\n\nmsg.topic = `farmassist/${userId}/${farm.farm_id}/${farm.device_id}/telemetry`;\nmsg.payload = {\n  schema_ver: '2.0.0',\n  user_id: userId,\n  farm_id: farm.farm_id,\n  plot_id: farm.plot_id,\n  device_id: farm.device_id,\n  device_type: farm.device_type,\n  zone: farm.zone,\n  timestamp: Date.now(),\n  seq: seq,\n  source: 'simulation',\n  sensors: {\n    temp_air: temp_air,\n    humidity: humidity,\n    light_lux: light_lux,\n    co2_ppm: null,\n    temp_soil: +(temp_air - 3.8 + (Math.random() - 0.5) * 1.2).toFixed(2),\n    moisture_1: moi,\n    moisture_2: +(moi - 5 + (Math.random() - 0.5) * 3).toFixed(2),\n    soil_ph: ph,\n    salinity: sal,\n    flow_lph: null,\n    water_temp: null,\n    ec_solution: null,\n    ph_solution: null,\n    do_mgl: null,\n    water_level_pct: null,\n    tier: null\n  },\n  actuators: {\n    irrigation: false,\n    pump: false,\n    ventilation: false,\n    grow_light: false\n  },\n  meta: {\n    firmware_ver: 'sim-2.0.0',\n    battery_pct: batt,\n    solar_mw: solar_mw,\n    wifi_rssi: -55 - Math.floor(Math.random() * 12),\n    uptime_sec: seq * 60,\n    free_heap: 138000 + Math.floor(Math.random() * 15000)\n  }\n};\n\nnode.status({fill:'green', shape:'dot', text: `T:${temp_air}C H:${humidity}%`});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "context.set('seq', 0);\ncontext.set('moi', 52);\ncontext.set('ph', 6.8);\ncontext.set('sal', 1.2);\ncontext.set('batt', 94);",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 320,
    "wires": [["mqtt-maroua-out"]]
  },
  {
    "id": "mqtt-maroua-out",
    "type": "mqtt out",
    "z": "tab-horizontal",
    "name": "MQTT Maroua",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 580,
    "y": 320,
    "wires": []
  },
  {
    "id": "tick-vertical",
    "type": "inject",
    "z": "tab-vertical",
    "name": "Tick Vertical (60s)",
    "props": [{"p": "payload"}],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": "12",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 80,
    "wires": [["sim-vertical"]]
  },
  {
    "id": "sim-vertical",
    "type": "function",
    "z": "tab-vertical",
    "name": "Vertical NFT Simulator",
    "func": "if (!global.get('sim_running')) {\n    node.status({fill:'grey', shape:'ring', text:'Stopped'});\n    return null;\n}\n\nconst userId = global.get('user_id');\nconst farm = global.get('farm_vertical');\nconst hour = new Date().getHours();\nconst lights_on = (hour >= 6 && hour < 22);\n\n// EC drifts down, resets with nutrient addition\nlet ec = context.get('ec') || 2.4;\nec -= 0.008;\nif (Math.random() < 0.030) ec += 0.15;\nec = +Math.max(0.5, Math.min(4.0, ec)).toFixed(3);\ncontext.set('ec', ec);\n\n// pH drifts down (acidification)\nlet ph = context.get('ph') || 6.0;\nph -= 0.005;\nif (Math.random() < 0.040) ph += 0.12;\nph = +Math.max(4.5, Math.min(8.0, ph)).toFixed(3);\ncontext.set('ph', ph);\n\n// Water temperature\nlet wt = context.get('wt') || 20.5;\nwt += (Math.random() - 0.5) * 0.1 + (lights_on ? 0.005 : -0.003);\nwt = +Math.max(16, Math.min(28, wt)).toFixed(2);\ncontext.set('wt', wt);\n\n// Dissolved oxygen (Henry's Law: decreases with temp)\nconst do_mgl = +(14.6 - 0.4 * (wt - 15) + (Math.random() - 0.5) * 0.3).toFixed(2);\n\n// Water level slowly decreases\nlet wl = context.get('wl') || 80;\nwl -= 0.05;\nif (wl < 30) wl = 85;  // Refill\nwl = +Math.max(10, Math.min(95, wl)).toFixed(2);\ncontext.set('wl', wl);\n\n// Flow rate\nconst flow = +(4.0 + (Math.random() - 0.5) * 0.4).toFixed(2);\n\n// CO2 (higher during lights-off)\nconst co2_base = lights_on ? 450 : 650;\nconst co2_ppm = Math.floor(co2_base + (Math.random() - 0.5) * 100);\n\nconst seq = (context.get('seq') || 0) + 1;\ncontext.set('seq', seq);\n\nmsg.topic = `farmassist/${userId}/${farm.farm_id}/${farm.device_id}/telemetry`;\nmsg.payload = {\n  schema_ver: '2.0.0',\n  user_id: userId,\n  farm_id: farm.farm_id,\n  plot_id: farm.plot_id,\n  device_id: farm.device_id,\n  device_type: farm.device_type,\n  zone: farm.zone,\n  timestamp: Date.now(),\n  seq: seq,\n  source: 'simulation',\n  sensors: {\n    temp_air: +(22.0 + (Math.random() - 0.5) * 2).toFixed(2),\n    humidity: +(65 + (Math.random() - 0.5) * 8).toFixed(2),\n    light_lux: lights_on ? Math.floor(38000 + Math.random() * 4000) : 0,\n    co2_ppm: co2_ppm,\n    temp_soil: null,\n    moisture_1: null,\n    moisture_2: null,\n    soil_ph: null,\n    salinity: null,\n    flow_lph: flow,\n    water_temp: wt,\n    ec_solution: ec,\n    ph_solution: ph,\n    do_mgl: do_mgl,\n    water_level_pct: wl,\n    tier: 1\n  },\n  actuators: {\n    irrigation: false,\n    pump: true,\n    ventilation: wt > 25,\n    grow_light: lights_on\n  },\n  meta: {\n    firmware_ver: 'sim-2.0.0',\n    battery_pct: 100,\n    solar_mw: 0,\n    wifi_rssi: -42 - Math.floor(Math.random() * 6),\n    uptime_sec: seq * 60,\n    free_heap: 156000 + Math.floor(Math.random() * 8000)\n  }\n};\n\nnode.status({fill:'blue', shape:'dot', text: `EC:${ec} pH:${ph} DO:${do_mgl}`});\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "context.set('seq', 0);\ncontext.set('ec', 2.4);\ncontext.set('ph', 6.0);\ncontext.set('wt', 20.5);\ncontext.set('wl', 80);",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 80,
    "wires": [["mqtt-vertical-out", "debug-vertical"]]
  },
  {
    "id": "mqtt-vertical-out",
    "type": "mqtt out",
    "z": "tab-vertical",
    "name": "MQTT Vertical",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 600,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug-vertical",
    "type": "debug",
    "z": "tab-vertical",
    "name": "Vertical Data",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.sensors",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 140,
    "wires": []
  },
  {
    "id": "anom-salinity",
    "type": "inject",
    "z": "tab-anomalies",
    "name": "🔴 High Salinity (4.8)",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "anomaly",
    "payload": "SALINITY_CRITICAL",
    "payloadType": "str",
    "color": "#FF5722",
    "x": 150,
    "y": 80,
    "wires": [["anomaly-injector"]]
  },
  {
    "id": "anom-phlow",
    "type": "inject",
    "z": "tab-anomalies",
    "name": "🔴 pH Critical (4.2)",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "anomaly",
    "payload": "PH_CRITICAL",
    "payloadType": "str",
    "color": "#FF5722",
    "x": 150,
    "y": 140,
    "wires": [["anomaly-injector"]]
  },
  {
    "id": "anom-drought",
    "type": "inject",
    "z": "tab-anomalies",
    "name": "🔴 Drought (12%)",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "anomaly",
    "payload": "MOISTURE_CRITICAL",
    "payloadType": "str",
    "color": "#FF5722",
    "x": 150,
    "y": 200,
    "wires": [["anomaly-injector"]]
  },
  {
    "id": "anom-ec",
    "type": "inject",
    "z": "tab-anomalies",
    "name": "🟡 EC Low (0.6)",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "anomaly",
    "payload": "EC_LOW",
    "payloadType": "str",
    "color": "#9C27B0",
    "x": 150,
    "y": 300,
    "wires": [["anomaly-injector"]]
  },
  {
    "id": "anom-do",
    "type": "inject",
    "z": "tab-anomalies",
    "name": "🔴 DO Critical (3.2)",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "anomaly",
    "payload": "DO_CRITICAL",
    "payloadType": "str",
    "color": "#9C27B0",
    "x": 150,
    "y": 360,
    "wires": [["anomaly-injector"]]
  },
  {
    "id": "anom-reservoir",
    "type": "inject",
    "z": "tab-anomalies",
    "name": "🔴 Reservoir Low (12%)",
    "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "anomaly",
    "payload": "RESERVOIR_CRITICAL",
    "payloadType": "str",
    "color": "#9C27B0",
    "x": 150,
    "y": 420,
    "wires": [["anomaly-injector"]]
  },
  {
    "id": "anomaly-injector",
    "type": "function",
    "z": "tab-anomalies",
    "name": "Inject Anomaly",
    "func": "const anomalyType = msg.payload;\nconst userId = global.get('user_id');\n\n// Determine target device\nlet deviceId, farmId, plotId, deviceType, zone;\n\nif (['SALINITY_CRITICAL', 'PH_CRITICAL', 'MOISTURE_CRITICAL'].includes(anomalyType)) {\n  const farm = global.get('farm_bafang');\n  deviceId = farm.device_id;\n  farmId = farm.farm_id;\n  plotId = farm.plot_id;\n  deviceType = 'horizontal';\n  zone = farm.zone;\n} else {\n  const farm = global.get('farm_vertical');\n  deviceId = farm.device_id;\n  farmId = farm.farm_id;\n  plotId = farm.plot_id;\n  deviceType = 'vertical';\n  zone = farm.zone;\n}\n\n// Base sensor values\nconst baseSensors = {\n  temp_air: 28.0,\n  humidity: 68.0,\n  light_lux: 42000,\n  co2_ppm: deviceType === 'vertical' ? 650 : null,\n  temp_soil: 24.0,\n  moisture_1: 58.0,\n  moisture_2: 55.0,\n  soil_ph: 6.5,\n  salinity: 1.2,\n  flow_lph: deviceType === 'vertical' ? 4.2 : null,\n  water_temp: deviceType === 'vertical' ? 21.5 : null,\n  ec_solution: deviceType === 'vertical' ? 2.4 : null,\n  ph_solution: deviceType === 'vertical' ? 6.1 : null,\n  do_mgl: deviceType === 'vertical' ? 7.2 : null,\n  water_level_pct: deviceType === 'vertical' ? 68.0 : null,\n  tier: deviceType === 'vertical' ? 1 : null\n};\n\n// Apply anomaly\nswitch(anomalyType) {\n  case 'SALINITY_CRITICAL':\n    baseSensors.salinity = 4.8;\n    break;\n  case 'PH_CRITICAL':\n    baseSensors.soil_ph = 4.2;\n    break;\n  case 'MOISTURE_CRITICAL':\n    baseSensors.moisture_1 = 12.0;\n    baseSensors.moisture_2 = 10.0;\n    break;\n  case 'EC_LOW':\n    baseSensors.ec_solution = 0.60;\n    break;\n  case 'DO_CRITICAL':\n    baseSensors.do_mgl = 3.2;\n    baseSensors.water_temp = 30.5;\n    break;\n  case 'RESERVOIR_CRITICAL':\n    baseSensors.water_level_pct = 12.0;\n    break;\n}\n\nmsg.topic = `farmassist/${userId}/${farmId}/${deviceId}/telemetry`;\nmsg.payload = {\n  schema_ver: '2.0.0',\n  user_id: userId,\n  farm_id: farmId,\n  plot_id: plotId,\n  device_id: deviceId,\n  device_type: deviceType,\n  zone: zone,\n  timestamp: Date.now(),\n  seq: Math.floor(Date.now() / 1000),\n  source: 'anomaly_injection',\n  sensors: baseSensors,\n  actuators: {\n    irrigation: false,\n    pump: deviceType === 'vertical',\n    ventilation: false,\n    grow_light: false\n  },\n  meta: {\n    firmware_ver: 'sim-2.0.0',\n    battery_pct: 87,\n    solar_mw: 1450,\n    wifi_rssi: -55,\n    uptime_sec: 3600,\n    free_heap: 148000,\n    anomaly_type: anomalyType\n  }\n};\n\nnode.status({fill:'red', shape:'ring', text: `INJECTED: ${anomalyType}`});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 250,
    "wires": [["mqtt-anomaly-out"]]
  },
  {
    "id": "mqtt-anomaly-out",
    "type": "mqtt out",
    "z": "tab-anomalies",
    "name": "MQTT Anomaly",
    "topic": "",
    "qos": "1",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 650,
    "y": 250,
    "wires": []
  }
]
